/* Lastly, apply responsive CSS fixes as necessary */
.content-page{
	weidh:100%;
	height:100%;
	background-color:transparent !important;
	margin-left: 10px;
	margin-right: 10px;
}

.content-page{
	weidh:100%;
	height:100%;
	background-color:transparent !important;
	margin-top: 50px;
	margin-left: 10px;
	margin-right: 10px;
}

/* Level3 sub menu */
.dropdown-menu .sub-menu {
	margin-top: 15px;
	margin-left: -45px;
}

/*bootstrap-select resize*/
.select-mini {
	width:100px;
    height: auto;
    line-height: 10px;
}